/* Estilos para los cuadros principales */
.cuadro1 {
    margin: 5px;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.8); /* Gris claro semitransparente */
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease-in-out;
}

/* Hover para dar efecto */
.cuadro:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


/* - Estilos para la tabla - */
.table td, .table th {
  vertical-align: middle;
  font-size: 0.9rem;
}

tr.bg-light:hover, tr.bg-white:hover {
  background-color: #f1f1f1;
}

/* - mejoras al  los txt area de los mensajes  - */
textarea.form-control {
  font-size: 0.85rem;
  line-height: 1.3;
  /*color: red; /*ELIMNAR DESPUES SOLO VALIDO SI ESTA TOMANDO EL CSS*/
}



/* estilos del loader */
#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* oscuro semi-transparente */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-overlay {
  text-align: center;
}

  /* Hover efecto elegante */
    .nav-link {
        transition: color 0.3s ease;
    }
    .nav-link:hover {
        color: #0d6efd !important; /* color bootstrap primary */
    }
    /* Subrayado animado en hover */
    .nav-link-hover {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #0d6efd;
        transition: width 0.3s ease;
        border-radius: 1px;
    }
    .nav-link:hover .nav-link-hover {
        width: 100%;
    }


  .auto-ajuste-textarea {
    resize: none;
    overflow-y: hidden;
    min-height: 50px; /* Altura estándar del input */
  }